.grid{
   display:flex;
   background-color:#f8f9fa;
   margin-top:50px;
   position : relative;
}
.grid2{
   display:flex;
   background-color:#f8f9fa ;
   height: 600px;
   margin-top:20px;
   margin-bottom:50px;
   position : relative;
}
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');


.cards {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    max-width: 3000px;
    padding-top:20px ;
    padding-bottom:20px ;
}

.card--1 .card__img, .card--1 .card__img--hover {
    background-image: url('https://www.cdiscount.com/pdt2/2/6/3/1/700x700/mp04289263/rw/1958-t-shirt-d-anniversaire-tshirt-homme-cadeau.jpg');
}

// .card--2 .card__img, .card--2 .card__img--hover {
//     background-image: url('https://cdn.monsieurtshirt.com/images/12257/product_large/t-shirt-homme-mariage.jpg?1546426499078');
// }

.card__like {
    width: 18px;
}

.card__clock {
    width: 15px;
  vertical-align: middle;
    fill: #AD7D52;
}
.card__time {
    font-size: 12px;
    color: #AD7D52;
    vertical-align: middle;
    margin-left: 5px;
}

.card__clock-info {
    float: right;
}

.card__img {
  visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 235px;
  border-top-left-radius: 12px;
border-top-right-radius: 12px;
  
}

.card__info-hover {
    position: absolute;
    padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
}

.card__img--hover {
  transition: 0.2s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
  position: absolute;
    height: 235px;
  border-top-left-radius: 12px;
border-top-right-radius: 12px;
top: 0;
  
}
.card {
  margin-right: 25px;
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
    width: 33.3%;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
}
.card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
    transform: scale(1.10, 1.10);
}

.card__info {
z-index: 2;
  background-color: #fff;
  border-bottom-left-radius: 12px;
border-bottom-right-radius: 12px;
   padding: 16px 24px 24px 24px;
}

.card__category {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
  color: #868686;
}

.card__title {
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'Roboto Slab', serif;
}

.card__by {
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.card__author {
    font-weight: 600;
    text-decoration: none;
    color: #AD7D52;
}

.card:hover .card__img--hover {
    height: 100%;
    opacity: 0.3;
}

.card:hover .card__info {
    background-color: transparent;
    position: relative;
}

.card:hover .card__info-hover {
    opacity: 1;
}
$h: .125em;
$a: 2deg;
$f: 1/cos($a);



.grid h2 {
	display: flex;
	position: relative;
	padding: 0 .5*$h;
	transform-style: preserve-3d;
	font: 900 7vw chilanka, segoe script, purisa, comic sans ms, cursive;
	
	&::after {
		position: absolute;
		top: calc(50% - .5*#{$h}); right: 0;
		width: calc(50% + 50vw); height: $h;
		border-radius: 0 $h $h 0;
      background: crimson;
		animation: slide 3s ease-out;
		content: ''
	}
}

@keyframes slide { 0% { transform: translate(-100%) } }

.letter {
	overflow: visible;
	white-space: pre;
	transform: rotatey($a) scalex($f)
}

.rev { transform: rotatey(-$a) scalex($f) }
.all {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.block {
  position: absolute;
  z-index: 100;
}
.n1 {
  top: 0;
  bottom: 0;
  left: 0;
  background: rgba(140,35,24,.5);
  animation: horizantal 7.5s linear infinite;
}
.n2 {
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(94,140,106,.5);
  animation: vertical 7.5s linear infinite;
  animation-delay: 1.5s;
}
.n3 {
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(136,166,94,.5);
  animation: horizantal 7.5s linear infinite;
  animation-delay: 3s;
}
.n4 {
  left: 0;
  right: 0;
  top: 0;
  background: rgba(242,196,90,.5);
  animation: vertical 7.5s linear infinite;
  animation-delay: 4.5s;
}
@keyframes horizantal {
  0% { width: 0 }
  50% { width: 100% }
  100% { width: 0 }
}
@keyframes vertical {
  0% { height: 0 }
  50% { height: 100% }
  100% { height: 0 }
}
.bg {
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  opacity: 0;
  animation: appear 8s linear infinite;
}
.i2 {
  animation-delay: 2s;
}
.i3 {
  animation-delay: 4s;
}
.i4 {
  animation-delay: 6s;
}
@keyframes appear {
  10% {
    opacity: 1
  }
  30% {
    opacity: 0;
    background-position: right;
    zoom: 105%;
  }
}
img {
  width:100%;
  height: 200%;
}